# Required packages for astropath

# Users
numpy>=1.22.0
scipy>=1.8
astropy>=5.1
IPython>=7.2.0
pytest>=6.0.0
pandas>=1.4
photutils>=1.5
healpy>=1.15
astropy-healpix>=0.7
ligo.skymap>=1.0

# docs
nbsphinx>=0.8.0   

